<div class="flex">
    <div>
        <figure class="image" style="text-align:center; padding:20px;"> 
            <img src="{{ include.url1 }}" alt="{{ include.description1 }}" style="{{ include.style1 }} margin:auto;margin-bottom:15px;">
            <figcaption>{{ include.description1 }}</figcaption>
        </figure>
    </div>
    <div>
        <figure class="image" style="text-align:center; padding:20px;"> 
            <img src="{{ include.url2 }}" alt="{{ include.description2 }}" style="{{ include.style2 }} margin:auto;margin-bottom:15px;">
            <figcaption>{{ include.description2 }}</figcaption>
        </figure>
    </div>
</div>
